---
import Layout from "../layouts/Layout.astro";
import "bootstrap/dist/css/bootstrap.css";
import Footer from "../components/footer.svelte";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./data/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Layout
      title={"Blog"}
      description={"The Blog of Porkys Pot of Pollution"}
    />
  </head>
  <body>
    <main class="bg-theme-darkRed">
      <section class="m-auto">
        <ul class="grid grid-cols-3 portrait:grid-cols-1 p-4">
          {
            posts.map((post) => (
              <li>
                <div class="card p-4" style="width: 300px;">
                  <div style="justify-content:center">
                    <img
                      src={post.frontmatter.heroImage}
                      
                      alt="the main image of the article"
                      style="max-height:100px; max-width: 100px;display: block;margin-left: auto; margin-right: auto;"
  
                    />
                  </div>
                  <div class="card-body" style="height: 200px">
                    <a
                      href={post.url}
                      class="card-title font-headliner card-link"
                    >
                      {post.frontmatter.title}
                    </a>
                </div>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer/>
    <style></style>
  </body>
</html>
