---
import Footer from '../components/footer.svelte';
import Hero from '../components/hero.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Hell." description="PorksPotOfPollution">
	<main>
		<Hero />
	</main>
	<Footer />
</Layout>

<style>

</style>
